body {
    background: #FFF;
}
.row {
    max-width: 1170px !important;
}
img { max-width: 100%; }
ul { padding: 0px; }

header .header-image {
    background: url("imgs/header.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
}
header nav {
    display: block;
    font-size: 0px;
    background: #EEE;
}
header nav a:first-child li {
    border-left: 1px solid #555;
}
header nav li {
    display: inline-block;
    width: 12.5%;
    background: #eee;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #444;
    text-align: center;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
}
header nav li:hover {
    background: #ccc;
}
header nav a:last-child li {
    float: right;
    background: #4CAF50;
    color: #FFF;
    width: 5%;
    border: 1px solid #555;
}

.slideshow {
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slideshow img {
    max-height: 200px;
    max-width: 100%;
}

.blocks ul { 
    font-size: 0px; 
}
.blocks ul li {
    display: inline-block;
    height: 120px;
    width: 50%;
    background: #eee;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
    text-align: left;
    margin: 0px auto;
}
.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    border: 1px solid #555;
}
.list .tabs-title>a {
    text-align: center;
    display: block;
    color: #000;
    padding: 16px 16px;
    text-decoration: none;
    border-bottom: 1px solid #555;
}
.list .tabs-title>a:focus, .list .tabs-title>a[aria-selected=true] {
    background: #4CAF50;
    color: white;
}
.list li a:hover {
    background-color: #555;
    color: white;
}
.slider-next {
    position: absolute;
    right: 10px;
    top: calc(50% - 16px);
    background: url("imgs/slider-next.png") no-repeat;
    z-index: 99;
    height: 32px;
    width: 32px;
    opacity: 0.7;
}
.slider-prev {
    position: absolute;
    left: 10px;
    top: calc(50% - 16px);
    background: url("imgs/slider-prev.png") no-repeat;
    z-index: 99;
    height: 32px;
    width: 32px;
    opacity: 0.7;
}
.slider-next:hover, .slider-prev:hover {
    opacity: 1;
    cursor: pointer;
}
footer { margin-top: 50px; }
footer nav {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #000;
}
footer nav li {
    display: inline-block;
    font-size: 11px; 
    font-weight: bold; 
    color: #377416;
}
.submit {
    width: 100%;
}
.servicelist {
    margin-left: 0px;
    margin-top: 40px;
}
.servicelist li {
    list-style: none;
}
@media only screen and (max-width: 640px) {
    header nav li {
        width: 100%;
        border-left: 1px solid #555;
    }
    header nav a:last-child li {
        width: 100%;
    }
    .blocks ul li {
        width: 100%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1023px) { 
    header nav a:last-child li {
    float: right;
    background: #4CAF50;
    color: #FFF;
    width: 8%;
    border: 1px solid #555;
    }
}